# Игнорируем виртуальное окружение
venv/
env/

# Игнорируем файлы кэша и базы данных
__pycache__/
*.pyc
*.pyo
db.sqlite3

# Конфиденциальные данные и настройки
.env
*.secret

# Файлы логов
logs/
*.log

# Файлы из VS Code
.vscode/